@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.colorNaranja {
   color: #ff8845;
}
.colorVerde {
   color: #c1e221;
}
.colorRojo {
   color: #ff4b54;
}

.verde1 {
   color: #7d911f;
}
.verde2 {
   color: #b6d03a;
}
.verdeH {
   background-color: #b6d03a;
}
.amarillo1 {
   color: #b9780f;
}
.amarillo2 {
   color: #fbaf35;
}
.amarilloH {
   background-color: #fbaf35;
}
.rojo1 {
   color: #e82539;
}
.rojo2 {
   color: #f3374a;
}
.rojoH {
   background-color: #e82539;
}

.azul1 {
   color: #0788a7;
}
.azul2 {
   color: #00b7e3;
}
.azulH {
   background-color: #00b7e3;
}
.rosa1 {
   color: #e41e6f;
}
.rosa2 {
   color: #e31f6f;
}
.rosaH {
   background-color: #e31f6f;
}
.morado1 {
   color: #794f8c;
}
.morado2 {
   color: #9261a8;
}
.moradoH {
   background-color: #9261a8;
}
.blanco1{
   color: grey;
}

.BoxS {
   background-color: white;
   box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.6);
}

.H-align {
   position: relative;
   left: 45%;
   transform: translateX(-50%);
}
.banner-1 {
   margin-top: 70px;
}
.textalignvertical {
   position: absolute;
   top: 7%;
}

.cardBanner {
   background: #ffffff;
   box-shadow: 0px 0px 13.8767px 11.7418px rgba(0, 0, 0, 0.04);
   border-radius: 15px;
}
.contB1 {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 2.2vw;
}
.subB1 {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 1.8vw;
   line-height: 1.2vw;
}
.subB1-2 {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 1.4vw;
   line-height: 1.2vw;
}
.contB2 {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 2vw;
   line-height: 2.5vw;
}
.priceB1 {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 2.2vw;
   line-height: 3vw;
}
.subB2 {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 1.2vw;
   line-height: 2vw;
}

.bannerTxt {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 800;
   font-size: 3vw;
   line-height: 4vw;
   color: #646161;
}
.bannersub {
   color: #fbaf35;
}
.bannerBtn {
   font-family: "Livvic";
   font-style: normal;
   font-weight: 700;
   font-size: 17px;
   line-height: 77px;
   color: #ffffff;
   background: #00b7e3;
   border-radius: 41px;
   padding: 11px 44px;
   text-decoration: none;
}
.bannerBtn:hover {
   color: white;
}
.nav-link {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   text-transform: capitalize;
   color: #101010 !important;
}

.tiraP {
   background-image: url("../img/content/back-tira1.png");
}
.tiraimg {
   padding: 50px;
}
.tiratxt {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 700;
   font-size: 2vw;
   line-height: 3.5vw;
   text-align: right;
   color: #ffffff;
   padding: 50px;
}
.purpleTitle {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 60px;
   line-height: 129.4%;
   color: #85559a;
}
.subpurpleTitle {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 125.4%;
   letter-spacing: -0.015em;
   color: #636569;
}
.cardpaquetes {
   background: #ffffff;
   box-shadow: 0px 0px 13px 11px rgba(0, 0, 0, 0.04);
   border-radius: 11px;
   overflow: hidden;
}
.paquetesheader {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 800;
   font-size: 25px;
   line-height: 129.4%;
   color: #ffffff;

   padding: 35px 0;
}
.cardpaquetescontent {
   padding: 34px 15px;
}
.cont1 {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 800;
   font-size: 47.1963px;
   line-height: 101.4%;
}
.cont2 {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 800;
   font-size: 36.6012px;
   line-height: 129.4%;
}
.sub1 {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: 20.227px;
   line-height: 105.4%;
}
.price1 {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 800;
   font-size: 67.4233px;
   line-height: 129.4%;
}
.price2 {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 800;
   font-size: 58.7546px;
   line-height: 129.4%;
}

.footer {
   background-color: #2b2b2b;
}
.fooDescripcion {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 18.254px;
   line-height: 38px;
   color: #ffffff;
}
.fooHeader {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 25.0992px;
   color: #00b7e3;
}
.foolink a {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 18.254px;
   color: #ffffff;
   text-decoration: none;
}
.foolink a:hover {
   color: #b6d03a;
}
.fooFooter {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #ffffff;
   background-color: #242424;
}
.margen1 {
   width: 100%;
   height: 80px;
}
.margen2 {
   width: 100%;
   height: 180px;
}

.whatsIconPosition {
   position: fixed;
   z-index: 15;
   top: 40%;
   right: 20px;
   width: 70px;
   transition: 150ms;
}
.whatsIconPosition:hover {
   width: 80px;
   transition: 150ms;
   cursor: pointer;
}

.totalTV {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 63.1724px;
   letter-spacing: -0.015em;
   color: #ffffff;
}

.TVtitle {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 800;
   font-size: 27.1136px;
   line-height: 100.4%;
}
.TVsub {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: 13.9031px;
   line-height: 105.4%;
}

.appsTV {
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 56px;
   line-height: 121.9%;
   color: #38393d;
}
.brandsImg {
   transition: 150ms;
}
.brandsImg:hover {
   position: relative;
   transform: translateY(-10px);
   transition: 150ms;
}

.cardVentajas1 {
   background: #ffffff;
   box-shadow: 0px 0px 24.6316px 20.8421px rgba(0, 0, 0, 0.04);
   border-radius: 20.8421px;
   padding: 60px 40px;
   transition: 350ms;
}
.cardVentajas2 {
   background: #ffffff;
   box-shadow: 0px 0px 24.6316px 20.8421px rgba(0, 0, 0, 0.04);
   border-radius: 20.8421px;
   padding: 60px 40px;
   transition: 350ms;
}
.cardVentajas3 {
   background: #ffffff;
   box-shadow: 0px 0px 24.6316px 20.8421px rgba(0, 0, 0, 0.04);
   border-radius: 20.8421px;
   padding: 60px 40px;
   transition: 350ms;
}
.cardVentajas1:hover {
   background: #5cb800;
   box-shadow: 0px 0px 24.6316px 20.8421px rgba(92, 184, 0, 0.04);
   border-radius: 20.8421px;
   color: white;
   transition: 350ms;
}
.cardVentajas2:hover {
   background: #e31f6f;
   box-shadow: 0px 0px 24.6316px 20.8421px rgba(92, 184, 0, 0.04);
   border-radius: 20.8421px;
   color: white;
   transition: 350ms;
}
.cardVentajas3:hover {
   background: #00b7e3;
   box-shadow: 0px 0px 24.6316px 20.8421px rgba(92, 184, 0, 0.04);
   border-radius: 20.8421px;
   color: white;
   transition: 350ms;
}

.cardVentajastitle {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 700;
   font-size: 26.9462px;
   line-height: 129.4%;
}
.cardVentajascontent {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 20.227px;
   line-height: 134.4%;
}

.cardVentajas1:hover .cardVentajastitle{
   color: white;
}
.cardVentajas2:hover .cardVentajastitle{
   color: white;
}
.cardVentajas3:hover .cardVentajastitle{
   color: white;
}

@media (max-width: 1199px) {
   .tiraimg {
      width: 100%;
      padding: 20px;
   }
   .tiratxt {
      font-size: 4vw;
      text-align: center;
      padding: 20px;
   }
}

@media (max-width: 576px) {
   .tiraimg img {
      width: 50%;
   }
   .purpleTitle {
      font-size: 10vw;
   }
   .subpurpleTitle {
      font-size: 6vw;
   }
}
